h1 + p {
  font-size: 200%;
}

p span {
  color: crimson;
}

.special {
  color: orange;
  font-weight: bold;
}

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

a:link {
  color: darkblue;
  font-weight: bold;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: square;
}

li em {
  color: rebeccapurple;
}
