html {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

body {
  margin: 40px auto;
  max-width: 600px;
}

textarea {
  display: block;
  margin: 1rem 0;
  padding: 0.5em;
  font-family: inherit;
}
