html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.info-box {
  width: 452px;
  height: 400px;
  margin: 20px auto;
}

.info-box ul {
  padding-left: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #b60000;
  overflow: hidden;
}

.info-box li {
  float: left;
  list-style-type: none;
  width: 150px;
}

.info-box li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  line-height: 3;
  color: #b60000;
  text-align: center;
  font-weight: bold;
}

.info-box li a:focus,
.info-box li a:hover,
.info-box li a.active {
  background-color: #b60000;
  color: white;
}

.info-box .panels {
  height: 352px;
  position: relative;
  clear: both;
}

.info-box article {
  position: absolute;
  top: 0;
  left: 0;
  height: 352px;
  padding: 10px 20px;
  color: white;
  background-color: #b60000;
}

.info-box .active-panel {
  z-index: 1;
}
