table {
  table-layout: fixed;
  border-collapse: collapse;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  max-width: 800px;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 0.4em 0.8em;
  text-align: left;
  vertical-align: top;
}

th:nth-child(2),
th:nth-child(3),
td:nth-child(2),
td:nth-child(3),
tfoot th {
  text-align: right;
}

tfoot {
  border-top: 1px solid #999;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}
